.control {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-white);
	margin: 5px;
	border-radius: var(--mantine-radius-sm);
	min-width: 12rem;
	@mixin hover {
		background-color: var(--mantine-color-blue-7);
		color: var(--mantine-color-dark-4);
		font-weight: 500;
		.linkIcon {
			color: var(--mantine-color-white);
	   }
   }
	&[data-active] {
		&, &:hover {
			font-weight: 500;
			box-shadow: var(--mantine-shadow-sm);
			background-color: var(--mantine-color-white);
			color: var(--mantine-color-hinodeBlue-5);
			.linkIcon {
				color: var(--mantine-color-hinodeBlue-5);
		   }
			.chevron {
				color: var(--mantine-color-hinodeBlue-5);
		   }
	   }
   }
	&:hover .chevron {
		font-weight: 500;
		color: var(--mantine-color-white);
   }
	&[data-open] {
		margin: 0;
		min-width: 0;
   }
}

.link {
	position: relative;
   /* Necessário para posicionamento do ::before */
	font-weight: 500;
	display: block;
	text-decoration: none;
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
	padding-left: var(--mantine-spacing-md);
	margin-left: var(--mantine-spacing-xl);
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-blue-5);
	border-left: 1px solid var(--mantine-color-gray-3);
	transition: color 0.3s ease;
}

.link:hover {
	color: var(--mantine-color-white);
}

.link::before {
	content: '';
	position: absolute;
	left: -10%;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-radius: 50%;
	transition: background-color 0.5s ease, transform 0.3s ease;
}

.link[data-active]{
	color: var(--mantine-color-white);
}

.link[data-active]::before, .link:hover::before {
	background-color: var(--mantine-color-white);
	transform: translateY(-50%) scale(1.2);
}

.chevron {
	transition: transform 200ms ease;
}

.linkSingle {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: var(--mantine-font-size-sm);
	color: var(--mantine-color-white);
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
	border-radius: var(--mantine-radius-sm);
	font-weight: 500;
	&[data-active] {
		&, &:hover {
			color: var(--mantine-color-hinodeBlue-5);
			.linkIcon {
				color: var(--mantine-color-hinodeBlue-5);
		   }
	   }
   }
   &[data-open] {
		margin-left: 10%;
   }
}
.linkIcon{
	color: var(--mantine-color-blue-1);
	margin-right: var(--mantine-spacing-sm);
	width: 25px;
	height: 25px;
}
