.sideBarContainer {
	display: flex;
	flex-direction: column;
	height: 100vh; /* A sidebar ocupa a altura total da tela */
  }

  .sideBarInner {
	display: flex;
	flex-direction: column;
	height: 100%;
  }


  .header {
	padding: var(--mantine-spacing-md);
	padding-top: 0;
	margin-left: calc(var(--mantine-spacing-md) * -1);
	margin-right: calc(var(--mantine-spacing-md) * -1);
	padding-bottom: 10px;

	color: light-dark(var(--mantine-color-white), var(--mantine-color-black) );
	border-bottom: 1px solid var(--mantine-color-hinodeBlue-3);

  }

  .scrollbarsNav{
	flex: 1;
	margin-top: var(--mantine-spacing-sm);
  }
.footer{
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	padding-top: var(--mantine-spacing-md);
	border-top: 1px solid var(--mantine-color-hinodeBlue-3);
	padding-bottom: var(--mantine-spacing-md);
	margin-bottom: var(--mantine-spacing-md);
	margin-top: var(--mantine-spacing-sm);

}

.groupTitle {
	position: relative;
	font-weight: bold;
	color: var(--mantine-color-white);
  }

  .groupMenu {
	position: relative;
  }
