.navbar {
	height: 100vh;
	width: 289px;
	padding: var(--mantine-spacing-md);
	display: flex;
	flex-direction: column;
	background-color: var(--mantine-color-hinodeBlue-5);
}

.navbarMain {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.header {
	padding-bottom: var(--mantine-spacing-md);
}

.footer {
	padding-top: var(--mantine-spacing-md);
	margin-top: var(--mantine-spacing-md);
	border-top: 1px solid var(--mantine-color-blue-7);
}

.groupTitle {
	position: relative;
	font-weight: bold;
	color: var(--mantine-color-white);
}
.groupMenu{
	position: relative;
}
